.type-b-10 .pbottom-85 {
  padding-bottom: 85px;
}
.type-b-10 .ptop-65 {
  padding-top: 65px;
}
.type-b-10 .hg_section--relative {
  position: relative;
}
.type-b-10 .kl-bg-source:not(:empty) {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.type-b-10 .kl-bg-source__overlay-gloss {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: -43%;
  background-color: #FFF;
  width: 100%;
  transform: skewX(-55deg);
  height: 100%;
  transform-origin: 100% 0;
  opacity: .08;
}
.type-b-10 .kl-iconbox--theme-light {
  color: #fff;
}
.type-b-10 .kl-iconbox {
  margin-bottom: 30px;
}
.type-b-10 .kl-iconbox__icon-wrapper {
  margin-top: 0;
  margin-bottom: 15px;
}
.type-b-10 img.kl-iconbox__icon {
  max-width: 100px;
}
.type-b-10 .fs-60 {
  font-size: 60px;
}
.type-b-10 .kl-iconbox__icon {
  line-height: 1;
  transition: color .2s cubic-bezier(0.215,0.610,0.355,1.000);
}
.type-b-10 .white {
  color: #fff !important;
}
.type-b-10 img {
  height: auto;
}
.type-b-10 .kl-iconbox__content-wrapper {
  overflow: hidden;
}
.type-b-10 .kl-iconbox__desc-wrapper {
  margin-top: 0;
  margin-bottom: 15px;
}
.type-b-10 .kl-iconbox__desc {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}
.type-b-10 .kl-iconbox__desc {
  margin: 0;
}
.type-b-10 .fs-large {
  font-size: 200%;
}
.type-b-10 .fw-semibold {
  font-weight: 600;
}
.type-b-10 .btn-md.btn-lined {
  padding: 14px 25px;
}
.type-b-10 .btn-md {
  font-size: 14px;
  line-height: 1.3333333;
}
.type-b-10 .btn-lined {
  border-width: 2px;
  background: none;
  color: #fff;
  text-shadow: none;
  line-height: 1.6;
  box-shadow: none;
  font-weight: 700;
  border-style: solid;
  border-radius: 3px;
  border-color: #fff;
  transition: all .1s ease-in-out;
}
.type-b-10 .btn-element > span {
  vertical-align: middle;
  display: inline-block;
}
.type-b-10 .btn-md {
  font-size: 14px;
  line-height: 1.3333333;
}
.type-b-10 .kl-bottommask--mask3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
}
.type-b-10 .kl-bottommask {
  z-index: 1;
}
.type-b-10 .kl-bottommask--mask3 .svgmask {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: -15px;
}
.type-b-10 .kl-bottommask--mask3 .glyphicon {
  position: absolute;
  bottom: 5px;
  left: 50%;
  display: block;
  width: 30px;
  text-align: center;
  font-size: 22px;
  opacity: 0.2;
  height: 15px;
  top: auto;
  transform: translateX(-50%);
  margin-left: 1px;
}
