.type-b-4 .row.gutter-lg {
  margin-right: -40px;
  margin-left: -40px;
}
.type-b-4 .row.gutter-lg > [class*="col-"] {
  padding-right: 30px;
  padding-left: 30px;
}
.type-b-4 .media-container {
  height: 300px;
}
.type-b-4 .media-container {
  position: relative;
}
.type-b-4 .h-615 {
  height: 615px !important;
}
.type-b-4 .kl-bg-source:not(:empty),
.type-b-4 .kl-bg-source__overlay,
.type-b-4 .kl-bg-source__bgimage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.type-b-4 element.style {
  background-image: url(../images/home-brochure.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
}
.type-b-4 .kl-bg-source__bgimage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.type-b-4 .kl-bg-source:not(:empty),
.type-b-4 .kl-bg-source__overlay,
.type-b-4 .kl-bg-source__bgimage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.type-b-4 .kl-bg-source__overlay {
  pointer-events: none;
}
.type-b-4 .media-container__link--btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  outline: none !important;
  -webkit-backface-visibility: hidden;
}
.type-b-4 a {
  color: #000;
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}
.type-b-4 .borderanim2-svg {
  width: 400px;
}
.type-b-4 .borderanim2-svg {
  position: relative;
}
.type-b-4 .borderanim2-svg__shape {
  stroke-dasharray: 100 1000;
  stroke-dashoffset: -620;
  stroke: #cd2122;
}
.type-b-4 .borderanim2-svg__shape {
  stroke-width: 8px;
  fill: transparent;
  stroke: #FFF;
  -webkit-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.type-b-4 .borderanim2-svg .media-container__text {
  line-height: 70px;
}
.type-b-4 .media-container__link--style-borderanim2 .media-container__text {
  text-align: center;
  font-size: 32px;
  letter-spacing: 4px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.type-b-4 .row.gutter-lg > [class*="col-"] {
  padding-right: 30px;
  padding-left: 30px;
}
.type-b-4 .tbk__title {
  margin-top: 50px;
  margin-bottom: 10px;
  font-style: normal;
}
.type-b-4 .montserrat {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.type-b-4 .lh-46 {
  line-height: 46px;
}
.type-b-4 .fs-38 {
  font-size: 45px;
}
.type-b-4 .fw-bold {
  font-weight: 700;
}
.type-b-4 .tbk-symbol--line.tbk-icon-pos--after-title .tbk__symbol {
  margin-bottom: 20px;
  margin-top: -5px;
  display: inline-block;
}
.type-b-4 .tbk__symbol {
  margin-top: 0;
  margin-bottom: 10px;
  display: block;
}
.type-b-4 .fw-normal {
  font-weight: 400;
}
.type-b-4 .tcolor {
  color: #cd2122 !important;
}
.type-b-4 .tbk-symbol--line .tbk__symbol span {
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: #ccc;
}
.type-b-4 .tbk__subtitle {
  margin-top: 0;
  font-size: 20px;
  font-family: 'Open Sans';
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
}
.type-b-4 .lh-32 {
  line-height: 32px;
}
.type-b-4 .fs-18 {
  font-size: 18px;
}
.type-b-4 .fw-vthin {
  font-weight: 100;
}
.type-b-4 .hg_separator.style2 {
  margin-bottom: 45px;
  border-top-width: 4px;
  border-top-color: #ededed;
}
.type-b-4 .hg_separator {
  border-top-style: solid;
}
.type-b-4 .pbottom-0 {
  padding-bottom: 0;
}
.type-b-4 .kl-title-block {
  padding-top: 0;
  padding-bottom: 35px;
}
.type-b-4 .text_box {
  padding-bottom: 20px;
}
.type-b-4 p {
  margin: 0 0 20px;
}
.type-b-4 .adbox.video {
  position: relative;
}
.type-b-4 .adbox.video > img {
  display: block;
  width: 100%;
  height: auto;
}
.type-b-4 img {
  max-width: 100%;
  height: auto;
}
.type-b-4 .adbox.video .video_trigger_wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: auto;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: 100%;
}
.type-b-4 .adbox_container {
  position: relative;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.type-b-4 .playVideo {
  display: block;
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 auto;
  -webkit-transform: scale(.95) translate3d(0,0,0);
  -ms-transform: scale(.95) translate3d(0,0,0);
  transform: scale(.95) translate3d(0,0,0);
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  -webkit-backface-visibility: hidden;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  line-height: 76px;
  font-size: 18px;
}
.type-b-4 .playVideo:before {
  content: "\e072";
  font-family: 'Glyphicons Halflings';
}
.type-b-4 .adbox.video:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(23,23,25,0.5);
}
