.clear {
  clear: both;
}
.type-b-1 body,
.type-b-1 h1,
.type-b-1 h2,
.type-b-1 h3,
.type-b-1 h4,
.type-b-1 h5,
.type-b-1 h6 {
  font-family: 'Open Sans', 'Helvetica', Arial, serif;
}
.type-b-1 body {
  color: #535353;
  font-size: 13px;
  line-height: 19px;
}
.type-b-1 .clear {
  clear: both;
}
.type-b-1 #header {
  height: 100px;
}
.type-b-1 #logo a,
.type-b-1 #header a#logo {
  line-height: 95px;
  height: 100px;
}
.type-b-1 header {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 1;
}
.type-b-1 .logo-container.hasInfoCard {
  position: relative;
}
.type-b-1 .logo-container {
  float: left;
}
.type-b-1 #logo {
  float: left;
  margin: 0;
}
.type-b-1 header.style2 #logo a,
.type-b-1 header.style2 a#logo {
  padding: 0 25px;
  color: #eee;
  font-size: 14px;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.type-b-1 h1#logo a,
.type-b-1 a#logo {
  padding: 0 25px;
  display: block;
  position: relative;
}
.type-b-1 a {
  color: #000;
  outline: none;
}
.type-b-1 .logo-container.hasInfoCard:before {
  content: url(../images/hoverme.png);
  width: 98px;
  height: 35px;
  right: 100%;
  margin-right: 20px;
  top: 35px;
  position: absolute;
}
.type-b-1 #header.cta_button .topnav {
  margin-top: 13px;
}
.type-b-1 header.style2 .topnav.navLeft {
  float: left;
}
.type-b-1 .topnav {
  float: right;
  margin: 10px 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 1;
}
.type-b-1 ul,
.type-b-1 ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
.type-b-1 .topnav > li {
  float: left;
  margin-left: 25px;
  position: relative;
}
.type-b-1 li {
  line-height: 20px;
}
.type-b-1 .topnav > li > a {
  font-family: 'Lato', 'Helvetica', Arial, serif;
}
.type-b-1 .topnav > li > a,
.type-b-1 .topnav li .menu li a {
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  line-height: 24px;
  display: block;
  padding: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  opacity: .8;
  filter: alpha(opacity=80);
}
.type-b-1 .topnav li.drop .pPanel {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.type-b-1 .topnav li.drop .pPanel {
  position: absolute;
  left: 0;
  width: auto;
  min-width: 150px;
  height: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
  margin-left: -11px;
}
.type-b-1 .topnav li.drop .inner {
  margin: 4px;
  list-style: none;
  background: #f5f5f5;
  padding: 4px 0;
  margin-top: 5px;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.type-b-1 .cart_details {
  display: block;
  white-space: nowrap;
  padding: 0 10px;
  font-size: 11px;
  margin: 0;
}
.type-b-1 .cart_details .checkout {
  border-left: 1px solid #CCC;
  margin-left: 15px;
  padding-left: 15px;
  display: inline-block;
  color: #CD2122;
  font-size: 12px;
  text-transform: uppercase;
}
.type-b-1 .cart_details .checkout span {
  margin-top: 1px;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.type-b-1 .icon-shopping-cart {
  background-position: -360px -120px;
}
.type-b-1 [class^="icon-"],
.type-b-1 [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(../images/glyphicons-halflings.png);
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.type-b-1 .icon-globe {
  background-position: -336px -144px;
}
.type-b-1 .icon-white {
  background-image: url(../images/glyphicons-halflings-white.png);
}
.type-b-1 .topnav li.drop li a {
  font-size: 10px;
  color: #222;
  padding: 0 5px 0 10px;
  display: block;
  text-transform: uppercase;
  margin-top: 1px;
}
.type-b-1 .topnav li.drop li a img {
  margin-right: 4px;
  line-height: 1;
  vertical-align: middle;
  margin-top: -1px;
}
.type-b-1 .topnav li.drop li.active a,
.type-b-1 .topnav li.drop li a:hover {
  background: rgba(0,0,0,0.1);
}
.type-b-1 #header.cta_button .topnav.navRight {
  margin-right: 60px;
}
.type-b-1 #open_sliding_panel span {
  display: none;
}
.type-b-1 .topnav > li > a > span {
  margin-right: 3px;
  margin-top: 0;
}
.type-b-1 .icon-remove-circle {
  background-position: -168px -96px;
}
.type-b-1 #header.cta_button #search {
  position: absolute;
  top: 10px;
  right: 400px;
  clear: none;
  float: none;
}
.type-b-1 #search {
  float: right;
  clear: right;
  position: relative;
}
.type-b-1 #header.cta_button #search .searchBtn {
  margin: 0;
}
.type-b-1 #search .searchBtn {
  margin: 10px 0 0 10px;
  padding: 8px;
  line-height: 1;
  display: inline-block;
  background: rgba(0,0,0,0.5);
  position: relative;
  z-index: 1;
}
.type-b-1 .icon-search {
  background-position: -48px 0;
}
.type-b-1 #ctabutton:hover {
  background: #fff;
  color: #000;
  text-decoration: none;
}
.type-b-1 #ctabutton {
  background-color: #cd2122;
}
.type-b-1 #ctabutton {
  clear: right;
  float: right;
  position: relative;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: #cd2122;
  padding: 10px 10px 5px;
  border-radius: 2px;
  margin-top: 8px;
  margin-left: 20px;
  margin-bottom: -7px;
}
.type-b-1 #ctabutton strong {
  font-size: 17px;
  font-weight: 900;
  display: block;
  padding: 0;
}
.type-b-1 strong {
  font-weight: bold;
}
.type-b-1 #ctabutton .trisvg {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
}
.type-b-1 #ctabutton .trisvg path {
  fill: #cd2122;
}
.type-b-1 body {
  padding: 10px;
}
.type-b-1 .show-on-hover:hover > ul.dropdown-menu {
  display: block;
}
.type-b-1 .main_menu {
  float: left;
  margin: 25px 0;
}
.type-b-1 .btn-group a {
  text-decoration: none;
  margin: 11px;
  font-size: 1em;
  color: #fff;
  font-weight: bold;
}
.type-b-1 .btn-group a:hover {
  background-color: #CD2122;
  border-radius: 2px;
  padding: 5px;
}
.type-b-1 .dropdown-menu a {
  color: #CCC;
}
.type-b-1 .dropdown-submenu {
  position: relative;
}
.type-b-1 .dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.type-b-1 .dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.type-b-1 .dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.type-b-1 .dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}
.type-b-1 .dropdown-submenu.pull-left {
  float: none;
}
.type-b-1 .dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.type-b-1 .img-responsive,
.type-b-1 .thumbnail > img,
.type-b-1 .thumbnail a > img,
.type-b-1 .carousel-inner > .item > img,
.type-b-1 .carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}
.type-b-1 #carousel-example-generic {
  margin: -20px;
}
.type-b-1 .carousel-inner {
  border-radius: 15px;
}
.type-b-1 .carousel-caption {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}
.type-b-1 .carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}
.type-b-1 .carousel-control.left,
.type-b-1 .carousel-control.right {
  background-image: none;
}
.type-b-1 .section-white {
  padding: 10px 0;
}
.type-b-1 .section-white {
  background-color: #fff;
  color: #555;
}
.type-b-1 body.carousel-caption .caption {
  width: 960px;
  margin-left: -480px;
  bottom: 20px;
}
.type-b-1 .carousel-caption .caption {
  position: absolute;
  bottom: 50px;
  width: 1170px;
  margin-left: -585px;
  left: 50%;
}
.type-b-1 .carousel-caption .caption .main_title {
  color: #fff;
  font-size: 28px;
  line-height: 1.3;
  border-left: 5px solid #fff;
  padding: 0 15px;
  float: left;
  margin-bottom: 80px;
  opacity: 0;
  filter: alpha(opacity=0);
  margin-left: 100px;
  text-shadow: 0 0px 3px rgba(0,0,0,0.7);
  background: #000;
  background: rgba(35,35,35,0.3);
  font-weight: bold;
}
.type-b-1 .carousel-caption .caption.style1 .title_big {
  float: left;
  clear: both;
  font-size: 32px;
  line-height: 1;
  color: #e9e9e9;
  position: relative;
  left: -100px;
  opacity: 0;
  filter: alpha(opacity=0);
  padding: 15px 20px 15px 2170px;
  margin: 0 0 0 -2000px;
  z-index: 1;
  min-width: 400px;
  text-align: right;
  font-weight: bold;
}
.type-b-1 element.style {
  left: 0px;
  opacity: 1;
}
.type-b-1 .carousel-caption .caption.style1 .title_big:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0,0,0,0.9);
  right: 0;
  top: 0;
  z-index: -1;
}
.type-b-1 .carousel-caption .caption.style1 .more {
  float: left;
  width: 30px;
  height: 62px;
  margin-left: 4px;
  position: relative;
  z-index: 1;
  left: -100px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.type-b-1 .carousel-caption .caption.style1 .more:before,
.type-b-1 .carousel-caption .caption.style1 .more:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #CD2122;
  z-index: -2;
}
.type-b-1 .carousel-caption .caption.style1 .more img {
  width: auto;
  padding: 23px 10px;
  position: absolute;
}
.type-b-1 .carousel-caption .item img {
  width: 100%;
  height: auto;
}
.type-b-1 .carousel-caption .caption.style1 .title_small {
  float: left;
  clear: both;
  font-size: 16px;
  line-height: 1;
  color: #e9e9e9;
  position: relative;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  padding: 10px 20px 10px 2000px;
  margin: 5px 0 0 -2000px;
  text-align: right;
  font-weight: 500;
  left: -100px;
}
.type-b-1 .carousel-caption .caption.style1 .title_small:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0,0,0,0.7);
  right: 0;
  top: 0;
  z-index: -1;
}
.type-b-1 .carousel-caption .caption.fromright .main_title {
  float: right;
  border-left: 0;
  border-right: 5px solid white;
  margin-left: 0;
  text-align: right;
  margin-right: 100px;
}
.type-b-1 body .carousel-caption .caption .main_title {
  margin-bottom: 40px;
}
.type-b-1 .carousel-caption .caption .main_title {
  color: #fff;
  font-size: 28px;
  line-height: 1.3;
  border-left: 5px solid #fff;
  padding: 0 15px;
  float: left;
  margin-bottom: 80px;
  opacity: 0;
  filter: alpha(opacity=0);
  margin-left: 100px;
  text-shadow: 0 0px 3px rgba(0,0,0,0.7);
  background: #000;
  background: rgba(35,35,35,0.3);
}
.type-b-1 element.style {
  right: 0px;
  opacity: 1;
}
.type-b-1 .carousel-caption .caption.style2.fromright .title_big,
.type-b-1 .carousel-caption .caption.style2.fromright .title_small {
  border-right: 5px solid #cd2122;
}
.type-b-1 .carousel-caption .caption.style2.fromright .title_big {
  padding: 10px 20px 10px 30px;
}
.type-b-1 .carousel-caption .caption.style2.fromright .title_big,
.type-b-1 .carousel-caption .caption.style2.fromright .title_small {
  float: right;
  border-right: 5px solid #CD2122;
  border-left: 0;
  left: auto;
  right: -100px;
}
.type-b-1 .carousel-caption .caption.style2 .title_big {
  font-size: 32px;
  clear: both;
  padding: 10px 30px 10px 20px;
  font-weight: bold;
}
.type-b-1 .carousel-caption .caption.style2 .title_big,
.type-b-1 .carousel-caption .caption.style2 .title_small {
  line-height: 1.3;
  color: #E9E9E9;
  position: relative;
  opacity: 0;
  filter: alpha(opacity=0);
  margin: 0;
  float: left;
  border-left: 5px solid #CD2122;
  background: black;
  background: rgba(0,0,0,0.9);
  left: -100px;
}
.type-b-1 .carousel-caption .caption.style2.fromright .more {
  float: right;
  margin-left: 0;
  margin-right: -8px;
  left: auto;
  right: -100px;
}
.type-b-1 .carousel-caption .caption.style2 .more {
  float: left;
  width: 30px;
  height: 30px;
  margin-left: -8px;
  background: url(../images/arr01.png) no-repeat center center #CD2122;
  position: relative;
  top: 12px;
  z-index: 1;
  left: -100px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.type-b-1 .carousel-caption .caption.style2 .more img {
  width: auto;
  padding: 7px 10px;
}
.type-b-1 .carousel-caption .caption.style2 .more:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.type-b-1 .carousel-caption .caption.style2.fromright .title_big,
.type-b-1 .carousel-caption .caption.style2.fromright .title_small {
  border-right: 5px solid #cd2122;
}
.type-b-1 .carousel-caption .caption.style2 .title_small {
  font-size: 16px;
  font-weight: 500;
  clear: both;
  padding: 10px 15px;
}
.type-b-1 element.style {
  opacity: 1;
  margin-right: 0px;
}
.type-b-1 .carousel-caption .caption.style3.fromright .title_big,
.type-b-1 .carousel-caption .caption.style3.fromright .title_small {
  float: right;
  text-align: right;
  left: auto;
  right: -100px;
}
.type-b-1 body .carousel-caption .caption.style3 .title_small {
  font-size: 16px;
}
.type-b-1 .carousel-caption .caption.style3 .title_small {
  font-size: 26px;
  clear: both;
  padding: 0;
  max-width: 400px;
}
.type-b-1 .carousel-caption .caption.style3 .title_big,
.type-b-1 .carousel-caption .caption.style3 .title_small {
  line-height: 1.3;
  color: #E9E9E9;
  color: rgba(255,255,255,0.8);
  position: relative;
  opacity: 0;
  filter: alpha(opacity=0);
  margin: 0;
  float: left;
  left: -100px;
}
.type-b-1 .carousel-caption .caption.style3.fromright .title_big,
.type-b-1 .carousel-caption .caption.style3.fromright .title_small {
  float: right;
  text-align: right;
  left: auto;
  right: -100px;
}
.type-b-1 body .carousel-caption .caption.style3 .title_big {
  font-size: 32px;
}
.type-b-1 .carousel-caption .caption.style3 .title_big {
  font-size: 52px;
  clear: both;
  padding: 0;
  line-height: 1;
}
.type-b-1 body .carousel-caption .caption.style3 .title_big span.stronger {
  font-size: 110px;
}
.type-b-1 .carousel-caption .caption.style3 .title_big span.stronger {
  font-size: 180px;
  display: block;
  line-height: 1;
}
.type-b-1 #action_box99 {
  background-color: #CD2122;
}
.type-b-1 .action_box {
  padding: 20px 0;
  color: #fff;
  border-top: 2px solid #fff;
  border-bottom: 1px solid #fff;
  position: relative;
  background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.2)));
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
  background: -o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
  background: -ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#33000000',GradientType=0);
  background-color: #CD2122;
}
.type-b-1 .action_box[data-arrowpos=center]:after,
.type-b-1 .action_box[data-arrowpos=center]:before {
  margin-left: -7px;
}
.type-b-1 .action_box:before {
  border-top-color: #cd2122;
}
.type-b-1 .action_box:after,
.type-b-1 .action_box:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -14px;
  margin-left: -25%;
  border-radius: 3px;
  border: 8px solid transparent;
  border-top-width: 7px;
  border-top-color: #CD2122;
}
.type-b-1 .container {
  margin-right: auto;
  margin-left: auto;
}
.type-b-1 .container:after {
  clear: both;
}
.type-b-1 .container:before,
.type-b-1 .container:after {
  display: table;
  line-height: 0;
  content: "";
}
.type-b-1 .action_box .row {
  margin-bottom: 0;
}
.type-b-1 .row {
  margin-bottom: 35px;
}
.type-b-1 .row:before,
.type-b-1 .row:after {
  display: table;
  line-height: 0;
  content: "";
}
.type-b-1 .span8 {
  width: 620px;
}
.type-b-1 [class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}
.type-b-1 .action_box h4.text {
  margin: 5px 0;
  font-weight: 500;
  font-size: 22px;
}
.type-b-1 .align-center {
  text-align: center;
}
.type-b-1 .span4 {
  float: right;
}
.type-b-1 .span4 a:hover {
  background: #CCC;
}
.type-b-1 .row:after {
  clear: both;
}
.type-b-1 .row:before,
.type-b-1 .row:after {
  display: table;
  line-height: 0;
  content: "";
}
.type-b-1 .btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: -o-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: linear-gradient(to bottom,#ffffff,#e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
}
